<aside class="left-nav sidebar-collapsed">
  <div class="toggle"></div>
  <div class="container">
    <nav>
      <div class="left-nav-container">
        <!-- <div class="accordion ">Campaign Analytics<span class="campaign-icon"></span></div> -->
        <div class="panel" style="max-height:inherit;">
          <ul>
            <li class="dashboard-icon"> <a routerLink="" routerLinkActive="active"> Dashboard<span class="dashboard-icon"></span></a> </li>

            <li class="reports-icon"> <a routerLink="facebook" routerLinkActive="active"> facebook<span class="reports-icon"></span> </a></li>
            <li class="content-icon"> <a routerLink="google" routerLinkActive="active"> google<span class="content-icon"></span> </a></li>
            <li class="content-icon"> <a routerLink="fbgoogle" routerLinkActive="active"> googleFacebook<span class="network-icon"> </span> </a></li>
          </ul>
        </div>
       <!--  <div class="accordion">Audiences<span class="audience-icon"></span></div>
        <div class="panel">
          <ul>
            <li class="segment-icon">Segments<span class="segment-icon"></span></li>
          </ul>
        </div>
        <div class="accordion">Automate<span class="automate-head-icon"></span></div>
        <div class="panel">
          <ul>
            <li class="automate-icon">Automation<span class="automate-icon"></span></li>
          </ul>
        </div> -->
      </div>
    </nav>
  </div>
</aside>